@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  /* font */
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-inter);
}

a {
  text-decoration: underline;
  @apply text-rose-500;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  @apply text-rose-600;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 font-sans;
  }

  ol {
    @apply list-decimal list-inside;
  }
}

@layer components {
  .title-1 {
    @apply text-3xl lg:text-5xl text-slate-50 font-extrabold font-sans mb-3 tracking-tight;
  }

  .title-2 {
    @apply text-2xl lg:text-4xl text-slate-100 font-bold font-sans mb-2 tracking-tight;
  }

  .title-3 {
    @apply text-xl lg:text-3xl text-slate-200 font-sans mb-1 tracking-tight;
  }

  .warn {
    @apply text-xs px-2 py-0.5 ml-2 font-medium bg-slate-900 text-orange-400 border border-orange-500/30 tracking-wide inline-block -translate-y-[1px];
  }
}

p,
li {
  font-size: larger;
  padding: 0px 10px 10px 0px;
}

/* Hide scrollbar completely and make it inaccessible */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}
